.column{
    border-radius: 10px;
    border: 2px solid #F69137;
    background:linear-gradient(70deg,#F69137 40%,#4ABB9E 60%);
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

.previewImage{
    max-height: 200px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.textView{
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}
